:root {
  interpolate-size: allow-keywords;
}

.tech-list a {
  white-space: nowrap;
  width: 2.5rem;
  overflow-x: clip;
  transition: width 0.35s ease;

  &:hover,
  &:focus-visible {
    width: max-content;
  }
}

@layer layout {
  .tech-list {
    box-sizing: border-box;
  }

  html {
    background: white;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: grid;
    place-content: center;
  }

  .tech-list {
    list-style: none;
    margin: 0;
    padding: 0;

    border: none;
    padding: 0.5rem 0;
    overflow-x: visible;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 4.5rem;
    padding: 1rem;
  }

  ul {
    a {
      display: grid;
      grid-template-columns: 1.5rem auto;
      gap: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
      transition-duration: 0.25s;
      align-items: center;
      background: #eaeaea;
      border-radius: 0.5rem;
      color: #5f6368;
      text-decoration: none;

      &:hover,
      &:focus-visible {
        background: lightgray;
        color: #333;
      }
    }
  }

  .text {
    padding-right: 0.75rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }
}
