html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #222;
}

/* === Animasi Fade-In + Slide-Up === */
.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-section.show {
  opacity: 1;
  transform: translateY(0);
}
